@import 'tailwindcss';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/effect-fade';

@theme {
  --color-primary: #dc9b7c;
  --color-primary-light: #f0c8b0;
  --color-primary-lighter: #f8e1d5;
  --color-primary-soft: #fdf5f2;
  --color-primary-dark: #b36d53;
  --color-primary-darker: #874939;
  --color-primary-soft-light1: #fef7f4;
  --color-primary-soft-light2: #fff8f5;
  --color-primary-soft-light3: #fffaf8;
  --color-primary-soft-light4: #fffcfb;
  --color-primary-soft-light5: #fffdfd;
  --color-accent: #e6b08d;
  --color-textGray: #616161;
  --color-textBlack: #313131;
  --color-secondary: #ae7963;
}

@layer utilities {
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fdf5f2 inset;
    -webkit-text-fill-color: #111;
  }
}

.btn {
  @apply inline-flex items-center justify-center font-semibold rounded-xl transition duration-300;
}

.btn-primary {
  @apply text-white shadow-md px-8 py-2
    bg-gradient-to-r from-[var(--color-primary)] to-[var(--color-primary-dark)]
    hover:from-[var(--color-primary-light)] hover:to-[var(--color-primary)]
    active:bg-[var(--color-primary-darker)];
}

.btn-outline {
  @apply text-sm bg-transparent border-1 box-border px-4 py-2 
    border-[var(--color-primary)] text-[var(--color-primary-dark)]
    hover:bg-[var(--color-primary)] hover:text-[var(--color-white)] active:bg-[var(--color-primary-light)];
}

.btn-secondary {
  @apply text-white rounded-full transition-all duration-300 transform hover:scale-105 shadow-lg hover:shadow-xl font-semibold px-8 py-4  inline-flex items-center gap-2
    bg-gradient-to-r from-[var(--color-primary)] to-[var(--color-primary-dark)]
    hover:from-[var(--color-primary-light)] hover:to-[var(--color-primary)]
    active:bg-[var(--color-primary-darker)];
}
